@import 'tailwindcss/base';

@import 'tailwindcss/components';

@import 'tailwindcss/utilities';
/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";

body {
  background-color: #181818;
  font-family: 'Poppins', sans-serif;
}

:root {
  --ion-color-light: #D9D9D9;
  --ion-color-dark: #181818;
  --ion-color-primary: #5ADD75;

  --ion-color-light-rgb: 217, 217, 217;
  --ion-color-dark-rgb: 24, 24, 24;
  --ion-color-primary-rgb: 90, 221, 117;

  --ion-color-light-contrast: #000000;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-primary-contrast: #ffffff;

  --ion-color-light-shade: #c8c8c8;
  --ion-color-dark-shade: #1a1a1a;
  --ion-color-primary-shade: #50b859;

  --ion-color-light-tint: #e8e8e8;
  --ion-color-dark-tint: #323232;
  --ion-color-primary-tint: #6be97d;
}
