<ion-content>
  <div class="w-11/12 h-fit mx-auto mt-36">
    <div class="flex gap-4 items-center justify-center">
      <ion-icon src="./assets/icon/sun-save-icon.svg" class="text-5xl"></ion-icon>
      <div class="text-[27.5px]">
        <span class="text-ligth">Sun</span>
        <span class="text-primary">Save</span>
      </div>
    </div>

    <div class="text-center mt-6">
      <p class="w-10/12 mx-auto text-ligth font-extrabold text-[30px]">
        Economize na sua conta de energia
      </p>
      <p class="mt-1 text-[26px]">
        Quer <span class="text-primary text-justify">economizar</span> na sua conta de energia enquanto <span class="text-primary">ajuda o planeta?</span>
      </p>
    </div>

    <div class="w-full mt-5 bg-dark border-primary border-2 mx-auto rounded-md text-center py-[13px] text-primary font-extrabold text-[19px] z-50" (click)="changeModal()">
      Simule aqui
    </div>

    <div class="flex justify-center mt-5">
      <div class="flex flex-col items-center">
        <span class="opacity-70 text-center">Deslize para baixo</span>
        <div class="flex flex-col items-center animate-bounce-slow mt-3 duration-500">
          <ion-icon name="chevron-down" class="opacity-20 text-2xl"></ion-icon>
          <ion-icon name="chevron-down" class="-mt-3 opacity-50 text-2xl"></ion-icon>
          <ion-icon name="chevron-down" class="-mt-3 text-2xl"></ion-icon>
        </div>
      </div>
    </div>

    <div class="pt-40 text-center">
      <span class="font-bold text-center text-[20px] mb-6">Como funciona a energia solar?</span>
      <p class="mt-3 text-ligth">
        A energia solar é uma forma limpa e renovável de produzir eletricidade a partir da luz do sol, o que ajuda a reduzir a dependência de fontes <span class="text-primary">poluentes</span>, como carvão e petróleo.
      </p>
      <p class="mt-2 text-ligth mb-5">
        Quando você instala painéis solares em sua casa, eles convertem a luz solar em eletricidade, diminuindo significativamente o <span class="text-primary">valor</span> da sua conta de energia, já que a maioria da energia usada vem do sol – uma fonte gratuita e inesgotável. Essa <span class="text-primary">economia</span> pode ser especialmente vantajosa ao longo dos anos, compensando rapidamente o investimento inicial.
      </p>
    </div>
  </div>
</ion-content>

<ion-modal [isOpen]="isModalOpen" (didDismiss)="changeModal(false)">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="end">
          <ion-button (click)="changeModal(false)">
            <ion-icon name="close-circle" color="ligth"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <div class="flex flex-col gap-2 mt-3">
        <ion-select label="Selecione sua Cidade" [(ngModel)]="cidade" (ionChange)="onCityChange($event)">
          <ion-select-option
            *ngFor="let cidade of cidades"
            [value]="cidade.city"
          >
            {{ cidade.city }}
          </ion-select-option>
        </ion-select>
        <ion-input label="Valor da Conta (R$):" [(ngModel)]="contaValor" type="number"></ion-input>

        <div class="rounded-lg bg-dark border-primary border text-primary w-full text-center p-2 font-bold mt-2 disabled:text-opacity-40" (click)="calcularConsumo()">
          Calcular Consumo
        </div>
      </div>
    </ion-content>
  </ng-template>
</ion-modal>
<!--
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Calculo de Consumo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Calculo de Consumo</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-item>
      <ion-label>Selecione a Cidade</ion-label>
      <ion-select [(ngModel)]="cidade" (ionChange)="onCityChange($event)">
        <ion-select-option
          *ngFor="let cidade of cidades"
          [value]="cidade.city"
        >
          {{ cidade.city }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Valor da Conta (R$):</ion-label>
      <ion-input [(ngModel)]="contaValor" type="number"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Consumo Estimado (kWh):</ion-label>
      <ion-input [value]="consumoKwh" readonly></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Quantidade de Painéis:</ion-label>
      <ion-input [value]="numPaineis" readonly></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Custo Total (R$):</ion-label>
      <ion-input [value]="custoTotal" readonly></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Área Necessária (m²):</ion-label>
      <ion-input [value]="areaNecessaria" readonly></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Geração Anual (kWh):</ion-label>
      <ion-input [value]="geracaoAnual" readonly></ion-input>
    </ion-item>

    <ion-button expand="full" (click)="calcularConsumo()">Calcular Consumo</ion-button>
  </div>
</ion-content>
-->
